body{
   background-image: url('./public/images/icones/bg.jpg');*/
    
   background-color: red;

}

.haut{
    background-color: black;
    opacity: 0.5;
}
.form-group input{
   width: 70%;
   margin-left: 7%;
}
.form-group i{
    
    margin-left: 95%;
 }
.form-group label{
    color: black;
    display: block;
    margin-bottom: 5px;
    margin-left: 7%;
    font-size: 15px;
    font-weight: bold;
}
.btn {
width: 50%;
background-color: red;
}
.error{
    width: 100%;
    height: 70px;
    font-weight: bold;
    background-color: salmon;
    text-align: center;
    font-size: 30px;
}
.imgavatar{
    width: 30%;
    float: right;
     margin-right: 20%; 
    height: 195px;
    border-radius: 50%;
    border: 3px darkturquoise solid;
    margin-bottom: 3%;
    margin-top: -5%;
    
}
.avatarprofil{
width: 100%;
height: 80%;
border-radius: 50%;
}
.row input{
    border-radius: 10px;
    height: 50px;
    font-size: 30px;
}

.row.erreur input{
    border-color:#e74c3c;
    border-width: 5px;
}
.row.valide input{
    border-color: #2ecc71;
    border-width: 5px;
}
/*
.sous {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue
  }
  */
  .navbar{
    min-height:12px;
    border-radius: 20px;
    
    
}
.navbar  a {
    font-size: 40px;
    
}
.navbar  a:hover{
    background-color: white;
    border-radius: 20px;
}
.nav-link{
    color: white;
}
.gauche{
    height: 150px;
}
.imgavataradmin{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}